.xdata-widget {
  width: 1000px;
  margin: 0px;
  padding: 10px;
  background: #EEEEEE;
  border: 1px solid #dedbd1;
  margin-bottom: 15px;
}

.xdata-widget a {
  color: #222;
  text-decoration: none;
}

.xdata-widget a:hover {
  color: #009;
  text-decoration: underline;
}
	
.tabnav li {
  display: inline;
  list-style: none;
  padding-right: 5px;
}
	
.tabnav li a {
  text-decoration: none;
   background: #DDDDDD; 
  text-transform: uppercase;
  color: #222;
  font-weight: bold;
  padding: 4px 6px;
  outline: none;
	border-top: 1px solid #a9a9a9;
	border-right: 1px solid #a7a7a7;
	border-left: 1px solid #a9a9a9;

}

.tabdiv.ui-tabs-panel 
{
	border-top: 1px solid #999999;
	border-right: 1px solid #999999;
	border-left: 1px solid #999999; 	
	border-bottom: 1px solid #999999; 		
}
		
.tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a {
  background: #FFFFFF;
  color: #222;
  text-decoration: none;
	border-top: 1px solid #999999;
	border-right: 1px solid #999999;
	border-left: 1px solid #999999; 
	 
}
		
.tabdiv {
  margin-top: 2px;
  background: #fff;
  border: 1px solid #dedbd1;
  padding: 5px;
}
	
.tabdiv li {
  list-style-image: url("star.png");
  margin-left: 20px;
}

.ui-tabs-hide {
  display: none;
}
#progressDiv
{
	display: none;
	z-index: auto;
	top: 200px;
}

#progressDiv img 
{
	top: 330px;
	float: left;
	z-index: 1;
	position: fixed;
	left: 600px;
}
#colorSelector 
{
	position: relative;
	top: -27px;
	left: 680px;
	border: 1px groove gray;
	border-right-style: outset;
	border-right-width: 1px;
}

#xsldata 
{
	position: relative;
	top: -15px;	
}
#xmlInserts input
{
	background-color: #FFF;	
}

#xsleditor input 
{
	background-color: #DDDDEE;		
}

#insertFunction 
{
	background-color: #DDDDEE;			
}
#xmlInserts a img 
{
	position: relative;
	top:  5px;	

}
#addParameterButton 
{

	right: 5px;
	float: right;
}

#SaveParameters 
{
	float: right;
}

#DeleteParameters 
{
	float: right;	
}